.space{
  padding-top: 114px;
}

#friend-display-link{
  text-align: center;
  display: block;
  padding: 15px 0;
  background-color: #fafafa;
}

#friend-display-link{
  color:rgba(233, 102, 161, .4);
}

#friend-display-link i{
  color:rgba(233, 102, 161, .4);
}