.space{
  padding-top: 78px;
}

#friend-display-link{
  text-align: center;
  display: block;
  padding: 15px 0;
  background-color: #fafafa;
  margin-bottom: 10px;
}

#friend-display-link{
  color:rgba(233, 102, 161, .4);
}

#friend-display-link i{
  color:rgba(233, 102, 161, .4);
}

.friends-screen{
  padding: 0 var(--horizontal-space);
}

.friend-screen__channel{
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header{
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;  
  justify-content: space-between;
}


