@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import "../components/status-bar.css";
@import "../components/nav-bar.css";
@import "../components/screen-header.css";

@import "./reset.css";
@import "./variavles.css";
@import "../css/friends.css";

body{
  font-family: 'Roboto', sans-serif;
  height: 1000vh;
  color: #2e363e;
}

.welcome-header{
  margin: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title{
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 700;
}

.welcome-header__text{
  width: 60%;
  text-align: center;
  color: rgb(233, 102, 161);
}

#login-form{
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input{
  padding: 15px 0;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form .form__input{
    border-bottom: 1px solid rgb(233, 102, 161, 0.4);
    transition: border-color .3s ease-in-out;
}
.form__input::placeholder{
  color: rgb(233, 102, 161, 0.4);
}

#login-form input:focus{
  border-color:rgb(233, 102, 161);
}

.form__button{
  color: rgb(233, 102, 161);
  background-color: rgb(233, 102, 161, 0.4);
  transition: all .3s ease-in-out;
  cursor: pointer ;
  padding: 20px 0;

}

.form__button:hover{
  color: #fff;
  background-color: #e1425d;
}

#login-form a{
  text-align: center;
  text-decoration: none;
  color:inherit;
  font-size: 12px;
}