@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body{
  margin: 0;
  font-family: 'Tilt Warp', cursive;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
}

.playlist{
  height: 800px;
  width: 400px;
  background-color: #fff;
  padding: 40px 30px;
  box-sizing: border-box;
}

.top-bar{
  width: 100%;
  height: 10%;
  position: relative;
}

.top-bar__column{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar__column .fa-xmark{
  position: absolute;
  left: 0;
  font-size: 40px;
}

.top-bar__column h3{
  font-size: 30px;
}

.con-wrap{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
}

.playlist-main{
  display: flex;
  justify-content: space-between;
}

.playlist-main__img{
  width: 100px;
  height: 100px;
  background-color: gold;
  position: relative;
  border-radius: 20%;
  border: 2px solid black;
}

.fa-image{
  font-size: 50px;
  position: absolute;
  top: 25px;
  left: 25px;
}

.playlist-main__text{
flex-basis: 60%;
}

.playlist-main__text>h1{
  font-size: 30px;
  height: 80%;
  line-height: 35px;
}

.playlist-main__text>p{
  font-size: 15px;
  height: 20%;
}

.playlist-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-button__play{
  padding: 10px 40px;
  border: solid black;
  border-radius: 10px;
  border-width: 2px 2px 6px 2px;
}

.playlist-button__play span{
  font-size: 18px;
}

.fa-heart,
.fa-plus{
  padding: 10px;
  border: solid black;
  border-radius: 50%;
  border-width: 2px 2px 6px 2px;
}

.playlist-list__con{
  display: flex;
}

.playlist-list__con:nth-child(2),
.playlist-list__con:nth-child(3){
  margin: 10px 0;
}

.playlist-list__con>.img{
  width: 80px;
  height: 80px;
  border-radius: 20%;
  margin-right: 20px;
  border: 2px solid black;
}

.playlist-list__con:first-child .img{
  background-color: tomato;
}

.playlist-list__con:nth-child(2) .img{
  background-color: pink;
}

.playlist-list__con:nth-child(3) .img{
  background-color: blue;
}

.playlist-list__con:last-child .img{
  background-color: teal;
}

.playlist-list__con>.text h3{
  font-size: 18px;
  line-height: 30px;
}

.playlist-list__con>.text p{
  font-size: 15px;
  line-height: 30px;
}