.visual{
  margin-top: 120px;
  background-image: url(../images/visual_bg.jpg);
  background-position: center;
}

.visual .inner{
  height: 646px;
}
.visua .titlel{}
.visua .titlel .btn{}
.visua .titlel .cup1.image{}
.visua .titlel .cup1.text{}
.visua .titlel .cup2.image{}
.visua .titlel .cup2.text{}
.visua .spoon{}