#chat-screen {
  background-color: #ffdbeb;
  height: 100vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffb4d6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    transform: translateY(none);
  }
}

.main-chat {
  padding: 30px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  padding: 15px;
  background-color: rgba(255, 179, 213, 0.5);
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
  animation: fadeIn 0.8s linear;

}

.fadeInSideLfte{
  animation: fadeInSideLfte 1s linear 0.8s forwards;
  opacity: 0;
}

.fadeInSideRight{
  animation: fadeInSideRight 1s linear 2.8s forwards;
  opacity: 0;
}

@keyframes fadeInSideLfte {
  from {
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(none);
  }
}

@keyframes fadeInSideRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(none);
  }
}

.message-row:first-child{
  animation-delay: 1s;
}

.message-row:nth-child(2){
  animation-delay: 2s;
}

.message-row:last-child{
  animation-delay: 4s;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.message__author {
  font-size: 13px;
  margin-bottom: 8px;
  display: block;
}

.message__info {
  display: flex;
  align-items: end;
}

.message__bubble {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__time {
  font-size: 10px;
  opacity: 0.5;
}

.message-row__own {
  justify-content: flex-end;
}

.message-row__own .message__bubble {
  background-color: rgba(255, 179, 213, 0.5);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  order: 2;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row__own .message__time {
  order: 1;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply i {
  opacity: 0.5;
}

.reply__column:first-child {
  width: 10%;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 6px;
  top: 5px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply__column button {
  background-color: gold;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button{
  transition: opacity 0.3s ease-in-out;
}


.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button{
  opacity: 0;
}

.reply:focus-within input{
  width: 98vw;
  transform: translateX(-13%);
}
