body{
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 0;
  font-family: serif;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
}

.box_all{
  display: flex;
  width: 500px;
  height: 800px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.box{
  width: 200px;
  height: 350px;
  border: 5px solid #fff;
  position: relative;
  top: 40px;
}

.content{
  font-family: serif;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 20px;
}

.box_all>div:first-child{
  background-color: #ff6347;
}
.box_all>div:nth-child(2){
  background-color: #008080;
}
.box_all>div:nth-child(3){
  background-color: #DEB887;
}
.box_all>div:nth-child(4){
  background-color: #D7BFD7;
}
