/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

body{
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1;
  /* 단어단위 줄바꿈 */
  word-break: keep-all; 
}

/* Header */
header{
  background-color: #eeeeee;
}

header .inner{
  max-width: 1020px;
  margin: 0 auto;
}

header ul.menu{
  height: 44px;
  display: flex;
  justify-content: space-between;
}

header ul.menu li{
  display: flex;
}

header ul.menu li a{
  padding: 0 10px;
  font-size: 11px;
  display: flex;
  align-items: center;
  color: #aaa;
  opacity: .8;
  text-decoration: none;
}

header ul.menu li a:hover{
  opacity: 1;
}
