body{
  margin: 0;
  padding: 0;
  width: 500px;
  height: auto;
  border: 5px solid gold;
  box-sizing: border-box;
}

input, button{
  border: none;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#header{
  width: 100%;
  height: 125px;
  background-color: gold;
  position: relative;
}

.header-nav{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 24px;
}

.header-nav .bar{
  margin-left: 20px;
}

.header-nav h1{
  font-weight: bold;
}

.header-nav .bag{
  margin-right: 20px;
}

.header-search{
  width: 440px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.header-search input::placeholder,
.header-search i{
  color: #aaa;
  font-size: 16px;
}

main{
  padding: 20px;
}

/* component-1 */
.conponent-1{
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.conponent-1 h2{
  font-size: 24px;
  font-weight: bold;
}

.conponent-1__con1{
  margin-top: 30px;
}

.conponent-1__con1__wrap{
  display: flex;
}

.conponent-1__con1__img{
  width: 140px;
  height: 200px;
  background-color: #d64646;
  margin-right: 30px;
  border-radius: 10px;
}

.conponent-1__con1__content{
  width: 50%;
}

.conponent-1__con1__text h3{
  font-size: 24px;
}

.conponent-1__con1__text p{
  color: #aaa;
  font-size: 16px;
  margin-top: 10px;
}

.conponent-star{
  margin-top: 10px;
}

.conponent-star .fa-solid{
  color: gold;
}

.conponent-star .fa-regular{
  color: #aaa;
}

.conponent-1__con1__tag{
  display: flex;
  margin-top: 20px;
}

.conponent-1__con1__tag h5{
  padding: 8px 20px;
  margin-right: 10px;
  background-color: #eee;
  border-radius: 5px;
  font-size: 12px;
}

.conponent-1__con1__button{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.conponent-1__con1__button .fa-bookmark{
  padding: 10px 12px;
  border-radius: 50%;
  background-color: gold;
}

.conponent-1__con1__button input{
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

.lh{
  line-height: 30px;
}

/* component-2 */

.sx{
  font-size: 10px;
  margin: 10px auto;
}

.conponent-2{
  height: auto;
  margin-top: 30px;
}

.conponent-2 h2{
  font-size: 24px;
  font-weight: bold;
}

.conponent-2 ul{
  display: flex;
  gap: 0 40px;
  margin-top: 30px;
  overflow-x: auto;
}

.conponent-2__wrap{
  height: 100%;
}

.conponent-2__img-1,
.conponent-2__img-2,
.conponent-2__img-3,
.conponent-2__img-4,
.conponent-2__img-5{
  width: 70px;
  height: 100px;
  border-radius: 10px;
}

.conponent-2__img-1{
  background-color: #f78c79;
}
.conponent-2__img-2{
  background-color: #efcb4c;
}
.conponent-2__img-3{
  background-color: #46d6b4;
}
.conponent-2__img-4{
  background-color: #4660d6;
}
.conponent-2__img-5{
  background-color: #8c46d6;
}

.bgblack{
  background-color: #000;
}