.nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffb4d6;
  border-top: 1px solid #e966a1;
  padding: 20px 50px;
  box-sizing: border-box;
}

.nav__list{
  display: flex;
  justify-content: space-between;
}

.nav__link{
  color: #fff;
  position: relative;
}

.nav__btn .fa-user{
  color: rgb(233, 102, 161);
}

.nav_commentShow{
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.nav_bot{
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  bottom: 15px;
}