.screen-header{
  position: fixed;
  /* padding: 55px 25px 0 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title{
  font-size: 28px;
  font-weight: bold;
}

.screen-header__icons i{
  margin-left: 20px;
  font-size: 20px;
}