.visual{
  margin-top: 120px;
  background-image: url(../images/visual_bg.jpg);
  background-position: center;
}

.visual .inner{
  height: 646px;
}

.visual .titlel{
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .btn{
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image{
  position: absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text{
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image{
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text{
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon{
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in{
  opacity: 0;
}

.notice-line{
  position: relative;
}

.notice-line .bg-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

.notice-line .bg-right{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #f6f5ef;
}

.notice-line .inner{
  height: 62px;
  display: flex;
}

.inner_left{
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}

.inner_left h2{
  color: white;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.inner_left .swiper{
  height: 62px;
  flex-grow: 1;
}

.inner_left .swiper .swiper-slide{
  height: 62px;
  display: flex;
  align-items: center;
}

.inner_left .swiper .swiper-slide a{
  color: white;
  font-size: 14px;
}


.inner_left .notice-line__more{
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_left .notice-line__more .icon{
  color: white;
  font-size: 30px;
}

.inner_right{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inner_right h2{
  font-size: 17px;
  font-weight: 700;
}

.inner_right .toggle-promotion{
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_right .toggle-promotion .icon{
  font-size: 30px;
}

.promotion{
  height: 639px;
  background-color: #f6f5ef;
  position: relative;
}

.promotion .swiper{
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -50%;
  background-color: orange;
}